<%= form_for(user_journey) do |f| %>
  <% if user_journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_journey.errors.count, "error") %> prohibited this user_journey from being saved:</h2>

      <ul>
      <% user_journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
