// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
height: 60%;
width: 60%;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

#autocomplete {
	width: 60%;
	height: 25px;
}